*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    background-color: #f2f0ea;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    
}
div .red{
    color: #e47b51 ;
    margin: 20px;
}

footer .big{
    font-size: 50px;
    color:#c8dd61 ;
}
.main p{
    text-align: justify;
    margin: 20px;
    padding: 20px;
    background-color: #57a6e2;
    color: #ffffffee;
}
footer p{
    margin: 20px;
    padding: 20px;
    background-color: #1e5986;
    color: #ffffffee;
}
.title{
    background-color: #dcdcdc;
    padding: 10px;
    color: #2B90DD;
}